@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 800px) {
  body {
    font-size: 20px;
  }
}

@media screen and (min-width: 800px) {
  body {
    font-size: 15px;
  }

}

.bloc1 {
  width: 100%;
  height: 100%;
  max-width: 700px;
  margin: auto;
}

.carousel .carousel-item {
  position: relative;
  z-index: 15;
}



.carousel * {
  z-index: 17;
}

.carousel img {
  display:inline-block;
  width: 500px;
  height: 500px;
  white-space:nowrap;
  overflow:hidden;
  object-fit: cover;
  -o-object-fit: cover;
}

.img-cover {
  -o-object-fit: cover;
  object-fit: cover;
  height: auto;
}

.card img.card-img-top {
  -o-object-fit: cover;
  object-fit: cover;
  height: 300px;
  -o-object-position: top;
  object-position: top;
}